body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    padding: 30px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #3b82f6;
    color: white;
    cursor: pointer;
}

.task {
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
}
